{
  "presets": [
  "react",
  [
    "env",
    {
      "targets": {
        "node": "current"
      }
    }
  ],
  "stage-2"
],
"plugins": [
  "transform-decorators-legacy",
  "transform-class-properties",
  "transform-object-rest-spread"
]
}
